fieldset {
	margin: 2em 0;
	padding: 1em;
	font-size: 1.6rem;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 0.5em;
}

/* Style de chaque libélé */
label {
	padding: 0.5em;
}

/* Style de chaque input */
input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"],
input[type*="date"],
textarea {
	display: inline-block;
	padding: 0.5em 1em;
	font-size: 1.6rem;
	color: #333;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 0.5em;
}

textarea {
	display: block;
	min-height: 10em;
}

/* Style de chaque bouton */
.button {
	display: inline-block;
	padding: 1em 2em;
	font-size: 1.6rem;
	color: #fff;
	background-color: #DD5735;
	border: 2px solid #DD5735;
	border-radius: 0.5em;
	cursor: pointer;
}img {
    max-width: 100%;
}

.header {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.header a {
    width: 33%;
}
.logo {
    width:100%;
}
.menu {
    width: 20%;
}
.header h1 {
    width: 45%;
    text-align: center;
}
.content {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

table {
    border-collapse: collapse;
}
td {
    border: 1px solid black;
    padding: 1em;
    text-align: center
}

.terrain {
    background-image: url("images/terrain-badminton.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
    width: 600px;
    position: relative
}

.volant {
    position:absolute;
    display: none;
    top: 10px;
    left: 20px;
}

.visible {
    display:block;
}

@media screen and (min-width: 780px) {
    
}