body{
	margin: 0;
	padding: 0;
	background-color: black;
	color: white;
	max-width: 100%;
}


fieldset {
	margin: 2em 0;
	padding: 1em;
	font-size: 1.6rem;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 0.5em;
}

/* Style de chaque libélé */
label {
	padding: 0.5em;
}

/* Style de chaque input */
input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"],
input[type*="date"],
textarea {
	display: inline-block;
	padding: 0.5em 1em;
	font-size: 1.6rem;
	color: #333;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 0.5em;
}

textarea {
	display: block;
	min-height: 10em;
}

/* Style de chaque bouton */
.button {
	display: inline-block;
	padding: 1em 2em;
	font-size: 1.6rem;
	color: #fff;
	background-color: #DD5735;
	border: 2px solid #DD5735;
	border-radius: 0.5em;
	cursor: pointer;
}img {
    max-width: 100%;
}

.header {
	padding: 2em;
}
.header a {
    width: 33%;
}
.logo-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo{
	max-width: 100%;
	margin-top: 2rem;
	
}
.menu {
    width: 5%;
    height: 5%;
    margin-top: 2rem;
}
.header h1 {
    text-align: center;
}


table {
    border-collapse: collapse;
}
td {
    border: 1px solid black;
    padding: 1em;
    text-align: center
}

.terrain {
    background-image: url("images/terrain-badminton.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
    width: 600px;
    position: relative
}

.volant {
    position:absolute;
    display: none;
    top: 10px;
    left: 20px;
}

.visible {
    display:block;
}

footer{
    background-color: pink;
    margin-bottom: 0;
    padding: 2em;
}


.flex-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.flex-footer i{
    margin: 1rem;
}

.flex-infos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: red;
    border: 1px solid black;
    border-radius: 1em;
    margin: 1rem;
    margin-bottom: 0;
    padding: 1em;
    text-align: center;
}

.img-slider{
    max-width: 50%;

}

.slider-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    max-width: 80%;
    margin: 0 auto;
    text-align: center;

}

.grid{
    display: grid;
}

header ul{
    list-style: none;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;


}
header ul li {
    margin: 1rem;
    color: white;

}

header ul li:hover{
    color: red;
    transform: scale(1.05);
}

a{
    text-decoration: none;
}

a:visited{
    color: inherit;
}

footer p:hover{
    color: blue;
    transform: scale(1.05);
    cursor: pointer;
}

@media screen and (min-width: 780px) {
    
}